body {
	     width: 500px;
            margin: 0;
            padding: 0 10px;
            font-size: 14px;
            font-family: Arial, sans-serif;
}

		nav li {
    		list-style-type: none; /* Убираем маркеры */
   		}
   		nav ul {
    		margin-left: 0; /* Отступ слева в браузере IE и Opera */
    		padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   		}
   		table {
             width: 350px;
            border: 2px solid darkgray;
            border-collapse: collapse;
        } 
        caption {
            caption-side: bottom; /*розташовує назву таблиці під нею*/
            text-align: right; /*вирівнює назву по правому краю таблиці*/
            font-weight:bold; /*напівжирний текст*/
            font-size: 16px; /*встановлює розмір напису*/

        }
        td, th{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: powderblue;
        }
